[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=Browse, organize and find your files
Exec=atlas-explorer %U
Icon=net.eterneon.atlas.explorer
Terminal=false
Categories=Qt;KDE;System;FileTools;FileManager;
Keywords=files;folders;explorer;finder;browse;documents;dolphin;file manager;
MimeType=inode/directory;
StartupNotify=true
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=atlas-explorer --new-window
